.container {
    margin-left: 4rem;
    margin-top: 4rem;
    display: inline-block;
    font-size: 0;
}


 div {
    position: relative;
    /* Ex10 Rimuovere spazi bianchi tra riquadri */
    margin-right: 0px;
 }


.container div {
    width: 70px;
    height: 60px;
    border: 1px solid black;
    display: inline-block;
    font-size: 1rem;
 }


/* Ex2 - Bordo rosso riquadri pari :nth-child*/
div :nth-child(even) {
    border-color: red;
}


/* Ex3 - Verde BD dispari :nth-child*/
.container div:nth-child(odd) span:nth-child(even) {
    color: green;
}


/* Ex4 - D blu secondo riquadro :last-of-type*/
.container div:nth-child(2) span:last-of-type {
    color: blue;
}
/* Ex5 - gialle tutte le lettere del sesto riquadro,tranne D :noh-last-of-type */
.container div:nth-child(6) span:not(:last-of-type) {
    color: yellow;
}
/* Ex6 - Ogni A sotto riqadri*/
.container div span:nth-child(1) {
    position: absolute;
    margin-top: 62px;
    margin-left:29px;
}
/* Ex7 - Ogni B sopra riquadri*/
.container div span:nth-child(2) {
    position: absolute;
    margin-top: -22px;
    margin-left:29px;
}
/* Ex8 D fuori ultimo riquadro a destra*/
.container div:nth-child(10) span:nth-child(4) {
    position: absolute;
    margin-top: 20px;
    margin-left:66px;
}
/* Ex9 D fuori primo riquadro a sinistra */
.container div:nth-child(1) span:nth-child(4) {
    position: absolute;
    margin-top: 20px;
    margin-left:-29px;
}

